<h1>This is {{username}} main page</h1>
<p>Come visit Annecy</p>
<img src="https://m.savoie-mont-blanc.com/var/smb/storage/images/media/images/visites-et-decouvertes/a-visiter/annecy-vieille-ville/95687-9-fre-FR/Annecy-Vieille-ville_format_785x530.jpg">